@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #111827;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}